<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('post')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>
<main class="container">
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        Title:
        <input th:field="*{title}"/>
        <br/>
        Body:
        <input th:field="*{body}"/>
        <br/>
        <input type="submit"/>
    </form>
</main>
</body>
</html>